# Build Folders
bin/
obj/
out/

# User-specific settings
.vs/
.vscode/
*.user
*.suo
*.sln.cache
*.userosscache
*.sln.docstates

# Logs & Debugging
*.log
*.tlog
*.vshost.*
*.pdb

# NuGet Packages
packages/
.nuget/
project.lock.json
project.assets.json

# Environment Variables & Secrets
appsettings.Development.json
appsettings.Local.json
secrets.json
.env

# Ignore dependency cache
node_modules/